<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav class="nav1">

            <a href="" class="logo"> <img src="./img/optimus.png" alt=""> </a>
            <button class="edit-btn">Edit this site</button>

        </nav>

        <nav class="nav2">
            <ul class="ul1">
                <li class="logo-h"><a href="">Gradients and Grids</a></li>
            </ul>

            <ul class="ul2">
                <li><a href="">Home</a></li>
                <li><a href=""> Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="./img/Rectangle 140.png" alt="" class="color-img">

        <section>
            <div class="container">
                <div class="info">
                    <img src="./img/Ellipse 21-2.png" alt="">

                    <div class="info-text">
                        <h4><strong>Koray Okumus</strong></h4>
                        <p>July 27, 9 min read</p>
                    </div>
                </div>

                <div>
                    <img src="./img/Heart.png" alt="">
                </div>
            </div>

            <div class="content">
                <h3>Things nobody has told you about digital design?</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, explicabo.
                    Soluta quas cupiditate veniam alias, deserunt et quo blanditiis nemo
                    laborum exercitationem incidunt? Adipisci nam maiores repudiandae nulla dolorem
                    dolore quisquam sint iure modi quos enim odio, voluptatibus consequuntur perferendis
                    voluptates quam minus vero ullam? Minima deserunt maiores earum, doloremque cumque
                    delectus harum debitis, ducimus quod, ea placeat exercitationem fugit! Perferendis
                    impedit nemo beatae error nulla possimus quos dolores voluptate eveniet quo voluptas,
                    tempore id deleniti voluptatem, earum aspernatur? Quidem distinctio odio modi dolores
                    molestiae cupiditate nesciunt
                    voluptas ipsam neque blanditiis, delectus aperiam qui? Quas hic nam deleniti earum quidem.
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nisi, provident
                    maiores neque ducimus libero iure dolores fugit dolorum eum excepturi vitae ea
                    ipsum numquam quos delectus quia atque voluptatum culpa odit distinctio deserunt
                    commodi et itaque. Eligendi, explicabo in. Illo aliquid eum iure obcaecati nostrum,
                    tenetur, magni saepe reprehenderit quos aliquam exercitationem labore nemo a, alias
                    eveniet deserunt. Iure minima dolores itaque neque voluptatum tempora, aspernatur quam
                    consequuntur, quia nulla, iusto earum. Odit quas necessitatibus vel cupiditate et.
                    Voluptatibus ipsam maxime illum ea, earum quasi libero necessitatibus tempora
                    eaque veniam deleniti optio aliquid odit deserunt blanditiis non officiis incidunt
                    fugiat magnam saepe nisi. Quaerat molestias sunt incidunt nulla, non, odio unde corporis
                    eum mollitia accusamus consequatur neque! Quam delectus ipsa quaerat ipsam necessitatibus,
                    sapiente placeat reprehenderit, impedit iste fuga ea. Similique neque perferendis
                    rem pariatur nulla, autem iure at non quisquam sunt molestiae est officiis!
                    Sit dolores deserunt id?
                </p>
            </div>

            <div class="text-font">
                <p>Digital design is like painting except the painting never dies</p>
                <p class="pablo">-Neville Brody</p>
            </div>

            <div class="social">
                <h3>Check out Demi Moore on social media </h3>
                <div class="social-link">
                    <a href="https://www.facebook.com" target="_blank"> <img src="./img/facebook3.png" alt=""> </a>
                    <a href="https://www.instagram.com" target="_blank"> <img src="./img/instagram.png" alt="" > </a>
                    <a href="https://www.twitter.com" target="_blank"> <img src="./img/twitter89.png" alt=""> </a>

                </div>
            </div>

            <div class="div-form">
                <img src="./img/user.png" alt="">

                <input type="text" placeholder="write a comment">
                <button>submit</button>


            </div>
            <div class="button-read">
                <button><a href="">Read more posts</a></button>
            </div>
        </section>

    </main>

    <footer>
        <div class="footer-container">
            <div class="about">
                <h3>ABOUT</h3>
                <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                    sapiente excepturi nulla laudantium, maiores explicabo animi
                    aliquid perferendis id neque eum error reiciendis laborum suscipit
                    praesentium voluptatem autem. Rem, assumenda ducimus. Cum laborum
                    magni odit ut dicta error aperiam veniam quis, eum blanditiis?
                    Voluptatem voluptates animi adipisci obcaecati at maiores?
                </P>
            </div>


            <div class="subscribe">
                <h3>SUBSCRIBE</h3>
                <input type="text" placeholder="enter email address">
                <button>Subscribe to our newsletter</button>
                <p>courtesy 2022 by Gradients and Grids</p>
            </div>
        </div>
    </footer>


</body>

</html>