<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradients and Grids</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<!--MOBILE VERSION STILL IN WORKS-->
  <!--NAVBAR START-->
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand"><img src="IMGs/optimus.png" alt="" width="150px" style="padding-left: 20px;"></a>
      <form class="form-inline">
        <div class="d-flex justify-content-end">
          <li id="noone"><button class="btn purp">PUBLISH THIS SITE </button></li>
           <li id="noone"><button class="btn text-light bgpurp">EDIT THIS SITE</button></li>
          </div>
    </nav>
      <!--NAVBAR END-->

      <!--LANDING START-->
      <main>
      <div class="container-fluid" id="land">
        <div class="text-right shift">
       <li><a href="#" class="text-right active" id="link">Home</a></li> 
       <li><a href="#" class="text-light text-right" id="linktwo">Contact Us</a></li>
      </div> 
        <h1 class="text-light text-center middle">Gradients And Grids</h1>
        <div class="text-light text-center" style="font-family: Open Sans; font-weight: 400; font-size: 40px; padding-top: 10px;"><h4>Welcome to a community of world-class Designers</h4></div>
      </div>
    </main>
      <!--LANDING END-->

      <!--GRIDS START-->
      <div class="container-fluid pt-5 bckg">
        <div class="row gy-4">
            <div class="col-sm">
                <div class="card h-100">
                    <img src="IMGs/Rectangle 138.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Colours: Why are they such a big deal in design?</h5>
                        <p class="card-text">Every designer needs to have an understanding on the basic <br>
                          concept of colour. Regardless of what sort of designer you are, <br>
                          if you do not, some hindrances may be encountered.
                        </p>
                        <a href="#" class="text-primary">Read More...</a>
                    </div>
                    <h4 style="white-space: nowrap;"> 
                      <p style="float:left; padding-left:10px"><img src="IMGs/Ellipse 21.png" alt="" width="88px" height="88px">
                        <p style="font-weight:600">Anthonio Bandy</p>
                      <p style="font-weight:300">Jul 27 . 9 min read</p></p>
                      <p style="float:right; padding: 20px 50px 0 0; left: 0; bottom: 6px; position: relative; display: block;"><img src="IMGs/Iconly/Light-Outline/Heart.png" alt="" width="50vh"></p>
                     
                  </h4>
                </div>
            </div>

            <div class="col-sm">
                <div class="card h-100">
                    <img src="IMGs/Frame 60473.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">So you think you can design?</h5>
                        <p class="card-text">The court of popular opinion has it that for one to enter into the <br>
                        world of tech, the easiest way is through design. The court may <br>
                        may be right but the truth is not everyone can design</p>
                          <a href="#" class="text-primary">Read More...</a> 
                          <div>
                            <div>
                            <h4 style="white-space: nowrap;"> 
                              <p style="float:left; padding-left:10px"><img src="IMGs/Ellipse 21-2.png" alt="" width="88px" height="88px">
                                <p style="font-weight:600">Koray Orimus</p>
                              <p style="font-weight:300">May 17 . 4 min read</p></p>
                              <p style="float:right; padding: 20px 50px 0 0; left: 0; bottom: 6px; position: relative; display: block;"><img src="IMGs/Iconly/Light-Outline/Heart.png" alt="" width="50vh"></p>
                              <div style="clear: both;">
                          </h4>
                        </div>
                          </div>
                    </div>
                   </div>

            </div>
            <div class="container">
              <div class="row gy-4">
                  <div class="col-sm">
                      <div class="card h-100">
                          <img src="IMGs/Rectangle 140.png" class="card-img-top" alt="...">
                          <div class="card-body">
                              <h5 class="card-title fw-bold">Things nobody is bold enough to tell you about digital design</h5>
                              <p class="card-text">Digital design is not for the faint-hearted. You have to be ready for <br>
                                rejection. Note that when i talk about digital design, it <br>
                                encompasses all forms of designs that employ digital tools.
                              </p>
                              <a href="#" class="text-primary">Read More...</a>
                          </div>
                          <h4 style="white-space: nowrap;"> 
                            <p style="float:left; padding-left:10px"><img src="IMGs/Ellipse 21-2.png" alt="" width="88px" height="88px">
                              <p style="font-weight:600">Koray Orimus</p>
                            <p style="font-weight:300">May 17 . 4 min read</p></p>
                            <p style="float:right; padding: 20px 50px 0 0; left: 0; bottom: 6px; position: relative; display: block;"><img src="IMGs/Iconly/Light-Outline/Heart.png" alt="" width="50vh"></p>
                            <div style="clear: both;">
                        </h4>
                      </div>
                  </div>

                  <div class="col-sm gp">
                      <div class="card h-100 pt-0">
                          <img src="IMGs/Rectangle 139.png" class="card-img-top" alt="...">
                          <div class="card-body">
                              <h5 class="card-title fw-bold">Why are wireframes and sketches so important to any digital design</h5>
                              <p class="card-text">I've been a graphic designer for close to 15 years and even with my <br>
                                level of expertise, i still don't like sketching my designs. Yes i'm bad <br>
                                at drawing and sometimes, i feel it's a complete waste of time.</p>
                                 <a href="#" class="text-primary">Read More...</a>
                          </div>
                          <h4 style="white-space: nowrap;"> 
                            <p style="float:left; padding-left:10px"><img src="IMGs/Ellipse 21-1.png" alt="" width="88px" height="88px">
                              <p style="font-weight:600">Ava Wright</p>
                            <p style="font-weight:300">Mar 22 . 9 min read</p></p>
                            <p style="float:right; padding: 20px 50px 0 0; left: 0; bottom: 6px; position: relative; display: block;"><img src="IMGs/Iconly/Light-Outline/Heart.png" alt="" width="50vh"></p>
                            <div style="clear: both;">
                        </h4>
                      </div>
                  </div>
              </div>
          </div>

          <div class="container text-center rm">
            <div class="btn px-5 border"><a href="#" class="blued px-5">Read More Posts</a></div>
          </div>
      <!--GRIDS END-->

      <!--FOOTER START-->
      <div class="container foot">
        <div class="float-start">
          <h4 class="abt">ABOUT</h4>
          <p class="last-text">Gradients and Grids is an online platform where <br>
          thousands of Designers globally can share their <br>
        insights on all forms of digital designs. If you are <br>
          interested in posting an article on our platform <br>
          please send us an email at <br>
         <span>gradientsandgrids@gmail.com</span> and we will <br>
         reply you shortly</p>
        </div>
        <div class="float-end">
          <h5 class="sub pb-5">SUBSCRIBE</h5>
          <input type="email" placeholder="Enter your Email Address here*"><br>
          <br><button class="sub-pt"><p class="subcap">Subscribe to our Newsletter</p></button>
          <br><p class="last">Courtesy 2022 by Gradients and Grids</p>
        </div>
        
      </div>
      <!--FOOTER END-->
</body>
</html>