
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="demi.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css
    "> <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
   
    <title>GRIDS AND GRADIENTS BLOG</title>
</head> 
<body> 
    <div class="nav-center">
    <div class="nav">
        <!-- nav header -->
        <div class="nav-header">
          <img src="images\optimus.png" class="logo" alt="logo" />
        </div>
        <ul> 
            <button class ="Edit"> Edit this site </button>
        </ul>
        </div>
        </div>
        <div class="head">
        <div class="nav-links">
            <div class="grids"> 
 <h3> Gradients and Grids</h3>
            </div>
            <ul class="links">
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">Contacts Us</a>
                </li>
                </ul>
        </div>
        </div>
        <section>
<div class="image">
    
</div>
        </section>

        <section>
            <div class="blog">
                <div class="user">
                    <img src="./images/Ellipse 21-3.png" class="img-2">

                    <!--End of image details-->
                 <div class="user-details">
                     <p> <span>Demi Moore </span> <br>
                    June 22. 6 min read  </p>
                 </div>
                </div>
                <div class="like">
                    <i class="bi bi-heart"></i>
                </div>
            </div>
        </section>
<section>
    <div class="container p-5">
        <div class="text ">
    
        <div class="body" style="font-size:20px;">
            <h3> So you think you can design?</h3>
   <blockquote>  <p> The court of popular opinion has it that for one to enter into the world of tech, the easiest way is through design. The court may be right, but the truth is not everyone can design.
</p><p>
    Strong communication abilities, the capacity for teamwork, and an eye for detail are requirements for the job.
    Designers can also benefit from hard skills like software design proficiency, and a thorough understanding of color. 
    In my expeience, I believe every aspirin designer should have a good experiencein the following skills:  Layout and navigation, Color and typography, Design principles,  Mobile-first design,  Design software and  HTML, CSS, or JQuery.

    </p> </blockquote>
    <div class="middle"> 
        <img src="images\Line 159.png" alt="">
        <img src="images\Digital design is like painting, except the painting never dries. Neville Brody.png" alt="Perfect" class="perfect">
        <img src="images\Line 159.png" alt="">
</div>
   
        </div>
    </div>

</section>
<section class ="forth"> 
    <div class ="container"> 
        <h3> Check out Demi Moore on social media </h3>
    <div class="social">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter"></i>
    
    </div>
    </div>

</section> 
<section class="fifth">
    <div class="container d-sm-flex align-items-center justify-content-center">
<div class="input-group mb-3" id ="input">
    <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
    <input type="text" class="form-control" placeholder=" Write a comment">
    <span class="input-group-text"><i class="bi bi-send"></i></span>
  </div>
</div>
</section>
<section class="sixth">
    <div class="container d-sm-flex align-items-center justify-content-center">
        <button class="read"> Read more posts </button>
    </div>
    </section>
    <div class="footer-clean">
        <footer>
            <div class="container text-dark">
              <div class="d-sm-flex justify-content-between">
                <div class="zuri p-5">
                <h5> ABOUT </h5>
                <h6>  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                     Quidem temporibus consequuntur 
                    quibusdam dolore neque voluptates? Culpa odit sed excepturi adipisci, quo assumenda laudantium dicta explicabo ratione? Obcaecati alias velit adipisci.
                    please send us an email at gradientsgrids@gmail.com and we will reply shortly  </div>
                    <div class="Suscribe p-5">
              <h5> SUBSCRIBE</h5>
            <div class="privacy">
                <div class="email">
           <input type="email" name="email" id="email" placeholder=" Enter your email here" style="width: 250px; height:40px; text-align:center;">
          </div> <div class="btns"> <button id="news" style="width:250px; height: 40px;" > Subscribe for our news letter</button>
           </div><p style="text-align: center ;">  Courtesy 2022 by Gradients and Grids </p>
                </div>
              </div>
            </div>
        </footer></div>
</section>
    </body>