<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iron</title>

    {% load staticfiles % }

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "/static/css/IRONHIDE.css" %}" />

    <!-- Font-Awesome -->
    <script src="https://kit.fontawesome.com/b2c55c9d3e.js" crossorigin="anonymous"></script>
    
    <!-- Google Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">    
</head>

  <body>
    <!-- Title Section -->
    
        <div class="container title-section">
            <div class="row">
                <div class="col-lg-6 img-fluid title-section-content">
                    <img src="{% static "\static\Images\Ironhide_images_assets\Frame 60014-2 (2).png" %}" alt="ironhide"/>
                </div>

                <div class="col-lg-6 title-section-content">
                    <h2>
                    Hi. I'm <b>Ironhide</b>.<br />
                    Photographer from <br />
                    Transformer
                    </h2>
                    <p>
                    It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout. The point of
                    using Lorem Ipsum is that it has a more-or-less normal distribution of
                    letters as oppsed to using 'Content here, content here', making it
                    look like readable English.
                    </p>
                    <button type="button" class="btn btn-dark title-section-button">More about me</button>
                    <button type="button" class="btn btn-light title-section-button">Message me</button>
                </div>
            </div>
        </div>
    






    <!-- Gallery Section -->

    
<div class="container align-items-center">
    <div id="gallery-heading">
        <h2>Gallery</h2>
    </div>
    <!-- First Row -->
    <div class="row">
        <div class="col">
            <a href="\static\Images\Ironhide_images_assets\Frame 60014.png"> 
                <img class= "image" src="{% static "\static\Images\Ironhide_images_assets\Frame 60014.png" %}" alt="ironhide" />
                <p class="image-caption"><b>Promise Nems</b><br>Creative</p>
            </a>
        </div>
        <div class="col">
            <a href="static\Images\Ironhide_images_assets\Frame 60014-1.png"> 
                <img class= "image" src="{% static "\static\Images\Ironhide_images_assets\Frame 60014-1.png" %}" alt="ironhide" />
                <p class="image-caption"><b>Edidiong Eddie</b><br>Creative</p>
            </a>
        </div>
        <div class="col">
            <a href="\static\Images\Ironhide_images_assets\Frame 60014-2.png"> 
                <img class= "image" src="{% static "\static\Images\Ironhide_images_assets\Frame 60014-2.png" %}" alt="ironhide" />
                <p class="image-caption"><b>Kikelomo Lateefat</b><br>Model</p>
            </a>
        </div>
    </div>
  
 

    <!-- Second Row -->

    <div class="row">
        <div class="col">
            <a href="\static\Images\Ironhide_images_assets\Frame 60014-3.png"> 
                <img class= "image" src="{% static "\static\Images\Ironhide_images_assets\Frame 60014-3.png" %}" alt="ironhide"/>
                <p class="image-caption"><b>Tosin Sholanke</b><br>Structure</p>
            </a>
        </div>
        <div class="col">
            <a href="\static\Images\Ironhide_images_assets\Frame 60014-4.png"> 
                <img class= "image" src="{% static "\static\Images\Ironhide_images_assets\Frame 60014-4.png" %}" alt="ironhide"/>
                <p class="image-caption"><b>Nwanze Charity</b><br>Flower</p>
            </a>
        </div>
        <div class="col">
            <a href="\static\Images\Ironhide_images_assets\Frame 60014-5.png"> 
                <img class= "image" src="{% static "\static\Images\Ironhide_images_assets\Frame 60014-5.png" %}" alt="ironhide" />
                <p class="image-caption"><b>Chidera</b><br>Cats</p>
            </a>
        </div>
    </div>

    <div id="view-more">
        <button type="button" class="btn btn-dark view-more">View more</button>
    </div>
    
</div>





    <!-- Carousel Section -->

<section class="carousel-section">
    <div class="container">
        <div class="row carousel-image">
            <div class="col img-fluid thumbnail">
                <img src="{% static "\static\Images\Ironhide_images_assets\Frame 60014-1 (2).png" %}" alt="ironhide">
            </div>

            <div class="col">
                <p>
                    <h2>Raymond Ugorji</h2>
               <span id="product"><i> Product Designer, ZURIxI4G</i></span>
        
                </p>
            </div>
        </div>
        
        <p class="carousel-paragraph">
            It is a long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout. The point of
            using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters as oppsed to using 'Content here, content here', making it
            look like readable English.
        </p>
    </div>

</section>





    <!-- Message Me Section -->


    <div class="container message-me">
        <div class="row">
            <div class="col-lg-8">
                <h2>Message me</h2>

                <div id="fname">
                    
                    <input type="text" class="form-control message-section-text" id="exampleFormControlInput1" placeholder="Your name">
                </div>
                <div id="email">
                    
                    <input type="email" class="form-control message-section-text" id="exampleFormControlInput1" placeholder="Your Email Address">
                </div>
                <div id="comment">
                    
                    <textarea class="form-control message-section-text" id="exampleFormControlTextarea1" rows="8" placeholder="Hi Optimus ..."></textarea>
                </div>
                <div class="d-grid gap-2 message-section-text">
                    <button class="btn btn-dark" type="button">Send</button>
                    
                </div>
            </div>
        
        

        <div class="col-lg-4" >
            <img src="{% static "\static\Images\Ironhide_images_assets\Frame 60014 (2).png" %}" alt="ironhide">
            
        </div>
    </div>



    <!-- Footer Section -->
<div class="container justify-content-between footer-section">
    <div class="row">
        <div class="col">
            <p id="ironhide-font">
                Ironhide
            </p>
        </div>

        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!-- <tr> -->
                            <p><b>Message me</b></p>
                            <p>optimus@prime</p>
                        <!-- </tr> -->
                    </div>
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Follow me</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">    
                                    <i class="fa-brands fa-pinterest"></i>
                                    <i class="fa-brands fa-linkedin"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-square-instagram"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>



    <!-- Option 1: JavaScript Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous">
    </script>
  </body>
</html>
