<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {%load static%}
    <link rel="stylesheet" href="{% static '/css/dashboard.css'%}">
    <link rel="stylesheet" href="{% static '/css/bootstrap-5.0.2-dist/css/bootstrap.min.css'%}">
</head>
<body>

    <div class="sideMenu">
      <a href="/home">
        <div class="top-header m-4">
          <div><img src="{% static '/images/assets/Group 59933.png'%}" alt=""></div>
          <div><img src="{% static '/images/assets/Group 59932.png'%}" alt=""></div>
        </div>
      </a>

      <div class="side-menu-nav p-5">
          <div class="mb-3 side-links" >
            <span><img src="{%  static 'images/assets/note.png'%}" alt="" class="icon"></span>
            <a href="/home" class="side-menu-link">All Templates</a>
          </div>
          <div class="mb-3 side-links">
            <span><img src="{%  static 'images/assets/Group 59834.png'%}" class="icon" alt=""></span>
            <a href="/home/portfolio" class="side-menu-link">Portfolio</a>
              
          </div>
          <div class="mb-3 side-links">
            <span><img src="{%  static 'images/assets/Group 59847.png'%}" class="icon" alt=""></span>
            <a href="/home/landingpages" class="side-menu-link"> Landing Page</a>
          </div>
          <div class="mb-3 side-links">
            <span><img src="{%  static 'images/assets/data.png'%}" class="icon" alt=""></span>
            <a href="/home/blogs" class="side-menu-link">Blog</a>
          </div>
      </div>
      <hr class="line">

      <div class="down-menu-nav px-5">
          <div class="mb-3 side-links">
            <span><img src="{%  static 'images/assets/Group 59838.png'%}" class="icon" alt=""></span>
            <a href="/home/support" class="side-menu-link">Support</a>
          </div>
      </div>

      <div class="logout px-5 side-links ">
        <span><img src="{%  static 'images/assets/Group 59846.png'%}" class="icon" alt=""></span>
        <a href="/logout" class="side-menu-link">Logout</a>
      </div>
      
      <hr class="line">

    </div>

    <main class="main-container">
        {% if user.is_authenticated %}
        <div class="greeting mb-3 text-center pt-5">
            <h1 class="">Good Afternoon {{ user.name}}</h1>
        </div>
        {% else %}
        <div class="greeting mb-3 text-center pt-5">
            <h1 class="">Good Afternoon</h1>
        </div>
        {%  endif %}

        <p class="text-center top-para">Create Something Magical today from Our Templates </p>

        <div class="templateContainers">
            <div>
                <img src="{%  static 'images/assets/Frame 59936 1.png'%}" alt="">
                
                <div class="template-text">
                    <h3 class="fs-4">Photography</h3>
                    <h3 class="view">View Template</h3>
                </div>
            </div>

            <div>
                <img src="{%  static 'images/assets/Logistics1 1.png'%}" alt="">
                <div  class="template-text">
                    <h3 class="fs-4">Logistics</h3>
                    <h3 class="view">View Template</h3>
                </div>
            </div>

            <div>
                <img src="{%  static 'images/assets/Food (Beverages)2 1.png'%}" alt="">
                <div  class="template-text">
                    <h3 class="fs-4">Food</h3>
                    <h3 class="view">View Template</h3>
                </div>
            </div>

            <div>
                <img src="{%  static 'images/assets/Fashion landing page1 1.png'%}" alt="">
                <div  class="template-text">
                    <h3 class="fs-4">Fashion</h3>
                    <h3 class="view">View Template</h3>
                </div>
            </div>

            <div>
                <img src="{%  static 'images/assets/photography porfolio.png'%}" alt="">
                <div  class="template-text" >
                    <h3 class="fs-4">Photography</h3>
                    <h3 class="view">View Template</h3>
                </div>
            </div>

            <div>
                <img src="{%  static 'images/assets/Design1 1.png'%}" alt="">
                <div  class="template-text">
                    <h3 class="fs-4">Photography</h3>
                    <h3 class="view">View Template</h3>
                </div>
            </div>

            <div>
                <img src="{%  static 'images/assets/FOOD LANDING PAGE1 1.png'%}" alt="">
                <div  class="template-text">
                    <h3 class="fs-4">Food</h3>
                    <h3 class="view">View Template</h3>
                </div>
            </div>
            
            <div>
                <img src="{%  static 'images/assets/Frame 60687 1.png'%}" alt="">
                <div  class="template-text">
                    <h3 class="fs-4">Photography</h3>
                    <h3 class="view">View Template</h3>
                </div>
            </div>

            <div>
                <img src="{%  static 'images/assets/Design port 1.png'%}" alt="">
                <div  class="template-text">
                    <h3 class="fs-4 ">Design</h3>
                    <h3 class="view">View Template</h3>
                </div>
                   
            </div>

            <div>
                <img src="{%  static 'images/assets/blog 3 1.png'%}" alt="">
                <div  class="template-text">
                    <h3 class="fs-4">Photography</h3>
                    <h3 class="view">View Template</h3>
                </div>
            </div>

            <div>
                <img src="{%  static 'images/assets/Design1 1.png'%}" alt="">
                <div  class="template-text">
                    <h3 class="fs-4">Photography</h3>
                    <h3 class="view">View Template</h3>
                </div>
            </div>

            <div>
                <img src="{%  static 'images/assets/Food1 1.png'%}" alt="">
                <div  class="template-text">
                    <h3 class="fs-4">Food</h3>
                    <h3 class="view">View Template</h3>
                </div>
            </div>

        </div>

    </main>
    
</body>
</html>