<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Optimus CMS | Spin up websites without knowing how to code!</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/home.css'%}">
  <script src="https://kit.fontawesome.com/ca2912634d.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <style>
    #showcase {
      background: url("{% static '/images/optimus/Frame 59894.png' %}") no-repeat center center/cover;
    }
  </style>

</head>
<body>

  <header id="showcase">

    <div class="container">
      <nav class="navbar">
        <div class="logo">
          <a href="/index"><img src="{% static "\images\optimus\Frame 60200.png" %}" alt="optimus logo" width="155px"></a>

        </div>
  
        <div class="links">
          {% if user.is_authenticated %}
            <ul>
              <li><a href="/about">About</a></li>
              <li><a href="./support">Support</a></li>
              <li><a href="/home">{{ user.name }}</a></li>
            </ul>
          {% else %}
            <ul>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'support'%}">Support</a></li>
              <li><a class="link-btn" href="/login">Login</a></li>
              <li><a class="link-btn btn-primary" href="/sign-up">Register</a></li>
            </ul>
          {%  endif %}

        <div class="menu-bar">
          <i class="fa-solid fa-bars"></i>
        </div>
      </nav>
    </div>

    <div class="showcase-content" >
      <h1 data-aos="fade-down-right">The countless versatile templates</h1>
      <p data-aos="fade-down-left">Optimus is a content management system that allows you create landing pages and other effective digital tools.</p>
     
      <a href="/sign-up">
        <button class="btn-primary" data-aos="flip-left">Get Started</button>
      </a>
    </div>

  </header>

  <section id="templates">
    <h2 data-aos="zoom-in-up">Our templates</h2>
    <div class="gridview" id="gridview">

      <div class="box-lg" data-aos="zoom-in-up">
        <img src="{% static './images/optimus/photography porfolio.png' %}" alt="photography portfolio">
        <div class="box-txt">
          <h5>Portfolio</h5>
          <a href="/home/portfolio">view templates</a>
        </div>
      </div>

      <div class="box-lg" data-aos="zoom-in-up">
        <img src="{% static "\images\optimus\Logistics 1.png" %}" alt="landing">
        <div class="box-txt">
          <h5>Landing Page</h5>
          <a href="/home/landingpages">view templates</a>
        </div>
      </div>

      <div class="box-lg" data-aos="zoom-in-up">
        <img src="{% static "\images\optimus\Photography.png" %}" alt="blog">
        <div class="box-txt">
          <h5>Blog</h5>
          <a href="/home/blogs">view templates</a>
        </div>
      </div>

    </div>
  </section>

  <section id="why">
    <h3 data-aos="zoom-in">Why Optimus?</h3>

    <div class="flexbox">
      <div class="box-sm">
        <img src="{% static "\images\optimus\Frame 60301.png" %}" alt="Search engine friendly">
        <h5>Search engine friendly</h5>
        <p>Our templates are very friendly with search engine optimization.</p>
      </div>

      <div class="box-sm" data-aos="zoom-in-down">
        <img src="{%static "\images\optimus\Frame 60302.png" %}" alt="Responsive Mobile" >
        <h5>Responsive Mobile</h5>
        <p>Enjoy the responsive feel of your projects even on a small screen.</p>
      </div>

      <div class="box-sm" data-aos="zoom-in-up">
        <img src="{% static "\images\optimus\Frame 60300.png" %}" alt="Unlimited downloads">
        <h5>Unlimited downloads</h5>
        <p>Download templates as many times as possible without charge</p>
      </div>

      <div class="box-sm" data-aos="zoom-in-down">
        <img src="{% static "\images\optimus\Frame 60301-1.png" %}" alt="Customizable templates">
        <h5>Customizable templates</h5>
        <p>Launch your products easily with our free customizable templates.</p>
      </div>

    </div>
  </section>

  <section id="quarterly">
    <h2 data-aos="zoom-in-up">Free templates every quarter</h2>

    <div class="box-container">
      <div class="box-md" data-aos="zoom-in-down">
        <img src="{% static "\images\optimus\Hero Page.png" %}" alt="artOfWill">
      </div>

      <div class="box-md" data-aos="zoom-in-down">
        <img src="{% static "\images\optimus\Frame 60511.png" %}" alt="food">
      </div>

      <div class="box-md" data-aos="zoom-in-up">
        <img src="{% static 'images\optimus\Design 1.png' %}" alt="photo-img">
      </div>

      <div class="box-md" data-aos="zoom-in-down"> 
        <img src="{% static '\images\optimus\Group 60031.png' %}" alt="birthday">
      </div>
    </div>

    <a href="/sign-up">
      <button class="btn-primary" data-aos="zoom-in-down">Get Started</button>
    </a>
  </section>

  <section id="get-started">
    <div class="details">
      <h3 data-aos="zoom-in-up">Get started with Optimus</h3>
      <p data-aos="zoom-in-down">Use Optimus to create your landing pages and <br> other effective digital tools</p>
      <button class="btn-primary" data-aos="zoom-in-up">Get Started</button>
    </div>

    <div class="flex-img" data-aos="zoom-in-down">
      <img src="{% static '\images\optimus\Frame 60312.png' %}" alt="a woman wearing glasses" >
    </div>
  </section>

  <footer id="footer-main">
    <div class="container">
     <div class="footer-wrapper">
      <div class="templates">
        <h3>Templates</h3>
        <ul>
          <li><a href="/home/landingpages">Landing page</a></li>
          <li><a href="/home/portfolio">Portfolio</a></li>
          <li><a href="/home/blogs">Blog</a></li>
        </ul>
      </div>
  
      <div class="career">
        <h3>Career</h3>
        <ul>
          <li><a href="#">Career</a></li>
          <li><a href="/home/support">Contact support</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
  
      <div class="partners">
        <h3>Partners</h3>
        <ul>
          <li><a href="#">Partner with us</a></li>
        </ul>
      </div>
  
      <div>
      </div>
  
     </div>
      <div class="footer-details pt-5">
        <div class="">
          <span class="terms"><a href="">Terms and conditions</a></span>
          <span class="privacy"><a href="">Privacy policy</a></span>
        </div>
        <p class="copy">&copy; 2022 Optimus Limited</p>
      </div>
    </div>
  </footer>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

  <script src="{ % static '/js/script.js' % }"></script>
</body>
</html>