<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./dashboard.css">
    <link rel="stylesheet" href="./bootstrap-5.0.2-dist/css/bootstrap.min.css">
</head>
<body>

    <div class="sideMenu">
        <div class="top-header m-4">
            <div><img src="./assets/Group 59933.png" alt=""></div>
            <div><img src="./assets/Group 59932.png" alt=""></div>
        </div>

        <div class="side-menu-nav p-5">
            <div class="mb-3 side-links" >
                <span><img src="./assets/note.png" alt="" class="icon"></span>
                <a href="./allTemplates.html" class="side-menu-link">All Templates</a>
            </div>
            <div class="mb-3 side-links">
                <span><img src="./assets/Group 59834.png" class="icon" alt=""></span>
                <a href="./portfolio.html" class="side-menu-link">Portfolio</a>
                
            </div>
            <div class="mb-3 side-links">
                <span><img src="./assets/Group 59847.png" class="icon" alt=""></span>
                <a href="./landingPage.html" class="side-menu-link"> Landing Page</a>
            </div>
            <div class="mb-3 side-links">
                <span><img src="./assets/data.png" class="icon" alt=""></span>
                <a href="./blog.html" class="side-menu-link">Blog</a>
            </div>
        </div>
        <hr class="line">

        <div class="down-menu-nav px-5">
            <div class="mb-3">
                <a href="#" class="side-menu-link">Invite Teammates</a>
            </div>
            <div class="mb-3 side-links" >
                <span><img src="./assets/Group 59838.png" class="icon" alt=""></span>
                <a href="#" class="side-menu-link">Support</a>
            </div>
        </div>

        <div class="logout px-5 side-links ">
            <span><img src="./assets/Group 59846.png" class="icon" alt=""></span>
            <span>Logout</span>
        </div>
        <hr class="line">

    </div>

    <main class="main-container">
        <div class="greeting mb-3 text-center pt-5">
            <h1 class="">Good Afternoon Edidiong</h1>
        </div>

        <p class="text-center top-para">Create Something Magical today from Our Templates </p>

      <div class="templateContainers">
        <div>
            <img src="./assets/Frame 59936 1.png" alt="">
            
            <div class="template-text">
                <h3 class="fs-4">Photography</h3>
                <h3 class="view">View Template</h3>
            </div>
        </div>

        <div>
            <img src="./assets/Photography landing page 1.png" alt="">
            <div  class="template-text">
                <h3 class="fs-4">Logistics</h3>
                <h3 class="view">View Template</h3>
            </div>
        </div>

        <div>
            <img src="./assets/Logistics1 1.png" alt="">
            <div  class="template-text">
                <h3 class="fs-4">Logistics</h3>
                <h3 class="view">View Template</h3>
            </div>
        </div>

        <div>
            <img src="./assets/FOOD LANDING PAGE1 1 (1).png" alt="">
            <div  class="template-text">
                <h3 class="fs-4">Food</h3>
                <h3 class="view">View Template</h3>
            </div>
        </div>

        <div>
            <img src="./assets/Food (Beverages)2 1.png" alt="">
            <div  class="template-text">
                <h3 class="fs-4">Food</h3>
                <h3 class="view">View Template</h3>
            </div>
        </div>

        <div>
            <img src="./assets/Fashion landing page1 1.png" alt="">
            <div  class="template-text">
                <h3 class="fs-4">Fashion</h3>
                <h3 class="view">View Template</h3>
            </div>
        </div>

      </div>

       
    
   

    </main>
    
</body>
</html>