<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Studio</title>
    <link rel="stylesheet" href="./bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/common/smartStudio.css">
    <link rel="icon" href="./assets/Logo - Smart Studio.png">
</head>
<body>
    <section class="hero-section">
        <nav class="nav-wrapper">
            <div class="logo">
                <img src="./assets/Logo - Smart Studio.png" />
            </div>

            <ul class="nav-items">
                <li class="nav-links">
                    <a href="#">About us</a>
                </li>
                <li class="nav-links">
                    <a href="#">Blog</a>
                </li>
                <li class="nav-links">
                    <a href="#">Services</a>
                </li>
                <li class="nav-links">
                    <a href="#">Contact Us</a>
                </li>
                <li class="nav-links" role="button">
                    <a href="#">Login</a>
                </li>
                <li class="nav-links " role="button">
                    <a href="#">Sign Up</a>
                </li>
            </ul>
        </nav>
       
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 col-md-6 gx-0">
                    <div class="left-banner">
                        <h1>Creating memories for a lifetime</h1>
                        <p>
                            Creating memories for a lifetime
                            We are prepared to deliver outcomes
                            in line with your expectations at any time
                            and use creativity to hasten corporate progress.
                        </p>

                        <button class="get-started-btn">Get Started</button>

                    </div>
                </div>

                <div class="col-12 col-md-6 gx-0">
                    <div class="right-banner">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-2">
        <div>
            <h2 class="text-center">The Photo Studio For Elegance</h2>
        </div>
        <div class="experience-section">
       
            <div class="mb-3">
                <div class="numbers">20K</div>
                <div class="experience-info">Followers</div>
            </div>
    
            <div class="mb-3">
                <div class="numbers">35K</div>
                <div class="experience-info">Satisfied Client</div>
            </div>
        
            <div class="mb-3">
                <div class="numbers">10 Years</div>
                <div class="experience-info">Experience</div>
            </div>
                    
        </div>
    </section>

    <section class="section-3">
        <h2 class="text-center">Services We Offer</h2>

        <div class="image-container">
            <div class="image-wrapper">
                <img src="./assets/0x0.jpg" />
                <h3 class="services">Creative Shoot</h3>
            </div>

            <div class="image-wrapper">
                <img src="./assets/d22578286c2e511b38d499a55a277329.jpg" />
                <h3 class="services">Birthday Shoot</h3>
            </div>

            <div class="image-wrapper">
                <img src="./assets/132578fdd9a07f552b102a4e931d16ee.jpg" />
                <h3 class="services">Bridal Shower Shoot</h3>
            </div>

            <div class="image-wrapper">
                <img src="./assets/1-motion-blur.jpg" />
                <h3 class="services">Motion Shoot</h3>
            </div>

            <div class="image-wrapper">
                <img src="./assets/beautiful-scenery-rock-formations-by-sea-queens-bath-kauai-hawaii-sunset.jpg" />
                <h3 class="services">Nature Shoot</h3>
            </div>

            <div class="image-wrapper">
                <img src="./assets/istockphoto-1277309077-170667a.jpg" />
                <h3 class="services">Modelling Shoot</h3>
            </div>
           
        </div>

    </section>

    <footer class="footer-container">
        <div class="footer-wrapper">
            <div>
                <div class="footer-logo">
                    <img src="./assets/Logo - Smart Studio.png" alt="logo"/>
                </div>
               
                <div>
                    <address class="email-link">
                        <a href=mailto:Smartstudio@gmail.com>Let's get in touch: Smartstudio@gmail.com</a>
                    </address>
                    <div class="social-links">
                        <div class="link-container">
                            <img src="./assets/facebook-263-721950.png" alt="">
                        </div>

                        <div class="link-container">
                            <img src="./assets/instagram-216-721958.png" alt="">
                        </div>

                        <div class="link-container" >
                            <img src="./assets/twitter-241-721979.png" alt="">
                        </div>

                        <div class="link-container">
                            <img src="./assets/linkedin-189-721962.png" alt="">
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-service"> 
                <h3>Company</h3>
                <div>
                    <div><a href="#">About </a></div>
                    <div> <a href="#">Cookie policy</a></div>
                    <div><a href="#">Privacy policy</a></div>
                    <div><a href="#">Terms</a></div>
                </div>
            </div>

            <div class="footer-service">
                <h3>Services</h3>
                <div>
                    <div><a href="#">Creative photography</a> </div>
                    <div> <a href="#">Birthday Shoot</a></div>
                    <div><a href="#">Bridal Shower Shoot</a></div>
                    <div><a href="#">Motion Photography</a></div>
                    <div> <a href="#">Nature Photography</a></div>
                    <div> <a href="#">Modelling Shoot</a></div>
                </div>
            </div>

            <div class="footer-service">
                <h3>Support</h3>
                <div>
                    <div><a href="#">FAQ</a></div>
                    <div><a href="#">Help</a></div>
                    <div><a href="#">Contact Us</a></div>
                </ul>
            </div>
        </div>

        <div class="footer-copyright">
            <span> &copy </span>
            <span>2022</span>
            <span>Smart</span>
            <span>Studio Ltd</span>
        </div>
    </footer>
    
</body>
</html>