{% load static %}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/chop.css' %}" />
</head>

<body>
    <!-- {% comment %} HEADER STARTS HERE {% endcomment %} -->
    <header class="" id="header">
        <img src="/image/optimus logo.png" alt="" class="header-image" />

        <div class="header-link">
            <a class="btn button" type="button"> Publish this site </a>

            <a class="btn button-primary" type="button" id="edit">Edit this site</a>
        </div>
    </header>
<!-- {% comment %} HEADER ENDS HERE {% endcomment %} -->


<!-- {% comment %} NAVBAR STARTS  {% endcomment %} -->
    <nav class="" id="nav">
        <a href="#"><img src="/image/ChopChop logo.png" alt="" class="header-image" /></a>

        <div class="header-link">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
<!-- {% comment %} NAVBAR ENDS HERE {% endcomment %} -->


<!-- {% comment %} FIXED SLIDER {% endcomment %} -->
    <div id="slider">
        <img src="/image/Rectangle 108.png" class="img-fluid img-adjust" alt="" />

        <div class="bottom-right">
            <div class="">
                <img src="/image/ChopChop logo.png" alt="" class="slider-image" />
                <p class="slider-head">Your Nigerian guide to healthy eating!</p>

                <form>
                    <input type="text" placeholder="*Enter your email address here*" class="form-input" />
                    <br />
                    <button type="submit">Subcribe to our newsletter</button>
                </form>
            </div>
        </div>
    </div>
<!-- {% comment %} FIXED SLIDER {% endcomment %} -->

<!-- {% comment %} MAIN BODY contenT {% endcomment %} -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 content-column-1">
                <div class="row content-one-row">
                    <div class="col-md-4 content-column-adjust">
                        <img src="/image/Rectangle 111.png " alt=" " class="content-image img-fluid" />
                    </div>
                    <div class="col-md-8 content-text-container">
                        <div class="">
                            <h4 class="content-text-head">
                                “Nigerians too like meat”: Abi na Lie?
                            </h4>
                            <p class="content-text-body">
                                If the meat is too small, they will complain. When they are eating food, they must see different 'obstacles' moving around their meals. This is why Nigeria has a high rate of obesity, hypertesion, diabetes... <a href="# ">Continue reading</a>
                            </p>

                            <ul class="content-list">
                                <li>0 views</li>
                                <li>0 comments</li>
                                <li>
                                    <img src="/image/Frame 60430.png " alt=" " class="img-like" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row content-one-row">
                    <div class="col-md-4 content-column-adjust">
                        <img src="/image/Frame 60427.png " alt=" " class="content-image img-fluid" />
                    </div>
                    <div class="col-md-8 content-text-container">
                        <div class="">
                            <h4 class="content-text-head">
                                My friend, will you stand up and exercise?
                            </h4>
                            <p class="content-text-body">
                                My fitfam bros and sissies, this one is for you! Yes, i know you have been working hard these days with your diet and all, and honestly, I applaud you (loud clapping of hands!!!) But honestly, how you wan take continue if you no gree exercise eh?...
                                <a href="# ">Continue reading</a>
                            </p>

                            <ul class="content-list">
                                <li>2 views</li>
                                <li>2 comments</li>
                                <li>
                                    <img src="/image/Frame 60430.png " alt=" " class="img-like" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row content-one-row">
                    <div class="col-md-4 content-column-adjust">
                        <img src="/image/Frame 60431.png" alt=" " class="content-image img-fluid" />
                    </div>
                    <div class="col-md-8 content-text-container">
                        <div class="">
                            <h4 class="content-text-head">
                                For the love of your kidneys, stop drinking agbo!!!
                            </h4>
                            <p class="content-text-body">
                                I know that some people will start arguing with me, telling me that I don't know what I'm saying, or that our ancestors drank it for years and nothing happened to them. But the truth is because something has been going on for many years doesn't make it
                                right... <a href="# ">Continue reading</a>
                            </p>

                            <ul class="content-list">
                                <li>2 views</li>
                                <li>2 comments</li>
                                <li>
                                    <img src="/image/Frame 60430.png " alt=" " class="img-like" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="left">
                    <div class="content-two-image">
                        <img src="/image/Rectangle 112.png " alt="" class="content-image" />
                    </div>

                    <div class="sec2">
                        <h4>Ireti Oreoluwa</h4>
                        <p>
                            Ireti Oreoluwa has been a health and food nutritionist coach for over 20 years. With her expertise, she has improved the lives of thousands of Nigerians both home and abroad. She is married with 4 beautiful daughters, 3 dogs, two cats and a goldfish that
                            has refused to grow. She currently resides in the UK with her family, and enjoys her job as a lecturer of food and nutrition in Birmingham City University.
                        </p>
                    </div>

                    <div class="sec3">
                        <!-- <div class="find"></div> -->
                        <h4>FIND HER ON:</h4>

                        <ul class="d-flex social">
                            <li>
                                <a href="#"><img src="/image/twitter.png " alt=" " /></a>
                            </li>
                            <li>
                                <a href="#"><img src="/image/instagram.png " alt=" " /> </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/image/facebook.png " alt=" " />
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="sec4">
                        <p class="psec4" style="color: black">
                            ENJOY A WHOOPING <b>50%</b> DISCOUNT WHEN YOU ORDER FOR OUR WELLNESS BROCHURE ONLINE!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- {% comment %} END OF BODY CONTENT  {% endcomment %} -->

<!-- {% comment %} LAST SECTION OF THE BODY {% endcomment %} -->
    <div class="container-fluid last">
        <form>
            <input type="text" placeholder="*Enter your email address here*" class="form-input" />
            <br />
            <button type="submit">Subcribe to our newsletter</button>
        </form>
    </div>

    <!-- {% comment %} FOOTER {% endcomment %} -->
    <footer>
        <p class="pfoot">Courtesy 2022 by ChopChop. All rights reserved.</p>
    </footer>
</body>

</html>