@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Sora';
  position: relative;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
/* End reset styles */

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #7839EE;
  color: #fff;
  padding: 14px 41px;
  outline: 0;
  border: none;
  border-radius: 4px;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

#showcase {
  background-image: url("{% static './images/optimus/Frame\ 59894.png' %}") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  padding-top: 1rem;
}

#showcase .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#showcase .navbar ul {
  display: flex;
}

#showcase .navbar ul li a {
  padding: 14px 0;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  border-radius: 4px;
  color: #1D2939;
  margin: 12px;
  display: inline-block;
}

#showcase .navbar ul li .link-btn {
  border: #5720B7 solid 1px;
  color: #5720B7;
  background-color: transparent;
  padding: 14px 41px;
}

#showcase .navbar ul li .btn-primary {
  background-color: #7839EE;
  color: #fff;
  padding: 14px 41px;
}

#showcase .showcase-content {
  font-family: 'Sora';
  font-style: normal;
  text-align: center;
  color: #1D2939;
  margin: 209px 279px 155px 279px;
}

#showcase .showcase-content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.02em;
}

#showcase .showcase-content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}

#showcase .showcase-content button {
  margin-top: 64px;
  padding: 24px 60.5px;
}

#templates {
  background: #F9FAFB;
  padding-bottom: 120px;
}

#templates h2 {
  padding-top: 60px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #101828;
}

#templates .gridview {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: auto;
  margin-top: 64px;
}

#templates .gridview .box-txt {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 1rem;
}

#templates .gridview .box-txt h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

#templates .gridview .box-txt a {
  color: #5720B7;
  font-weight: 400; 
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

#why h3 {
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

#why .flexbox {
  display: grid;
  margin: 0 158px 0 158px;
  grid-template-columns: repeat(4, 1fr);
  gap: 41px;
  margin-bottom: 96px;
}

#why .flexbox .box-sm {
  color: #000;
  padding: 1rem;
  border: 1px #667085 solid;
  border-radius: 4px;
}

#why .flexbox .box-sm h5{
  letter-spacing: -0.02em;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#why .flexbox .box-sm p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.02em;
}

#quarterly {
  background: #F9FAFB;
  text-align: center;
}

#quarterly h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 60px;
  letter-spacing: -0.02em;
  padding-top: 80px;
  margin-bottom: 64px;
}

#quarterly .box-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 824px;
  gap: 56px;
  margin-bottom: 48px;
}

#quarterly .btn-primary {
  margin-bottom: 57px;
  padding: 24px;
}

#get-started {
  width: 80%;
  margin: 143px auto;
  display: flex;
  justify-content: space-between;
}

#get-started .details {
  width: 50%;
}

#get-started .details h3 {
  margin-top: 50px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: -0.02em;
}

#get-started .details p {
  font-size: 24px;
  line-height: 38px;
  color: #1D2939;
  margin-bottom: 104px;
}

#get-started .btn-primary {
  padding: 24px;
  margin-bottom: 100px;
}

#footer-main {
  background: #491C96;
  color: #fff;
  padding-top: 80px;
}

#footer-main .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 120px;
}

#footer-main h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 32px;
}

#footer-main .container ul li a {
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  line-height: 40px;
  margin: 2rem 0;
  letter-spacing: -0.02em;
  display: inline;
}

#footer-main .container .footer-details {
  grid-column: 1  / span 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#footer-main .container .footer-details ul {
  display: flex;
}

#footer-main .container .footer-details ul li a{
  font-size: 16px;
  font-weight: 100;
  align-self: flex-end;
  padding: 0 1rem;
}

#footer-main .container .footer-details ul li .border-end {
  border-right: 1px solid #fff;
  padding-left: 0;
}