<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>

  {% load static %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <style>
    body {
      font-family: 'Sora', sans-serif;
    }

    label {
      font-size: 18px;
      font-weight: 400;
    }

    input {
      height: 56px;
    }

    a {
      text-decoration: none;
      color: #7839EE;
    }

    .btn {
      width: 100%;
      background-color: #7839EE;
      border: 0;
    }

    .btn:hover {
      background-color: #7130DA;
    }

    .btn:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  </style>
  <title>Optimus CMS | Spin up websites without knowing how to code! | Register | Sign Up!</title>
</head>
<body>

  <div class="container">
    <header id="logo" class="mt-4">
      <a href="/index"><img src="{% static "\static\Images\optimus\Frame 60200.png" %}" alt="optimus logo" width="150px"></a>
    </header>

    <main id="main">
      <div class="container">

        <div class="row">
          <div class="col-12 col-lg-6">
            <img src="{ % static "\static\Images\optimus\amico-signup.png" % }" alt="A man with a key" class="my-auto img-fluid" width="100%">
          </div>
  
         <div class="col-12 col-lg-6">
          <div class="card border-0 p-3">
            <h2 class="text-center pb-4">Fill in to complete sign up</h2>
            <form name="login" action="/allTemplates">
              <div class="mb-2">
                <label for="name" class="form-label">Name</label>
                <input id="name" type="name" class="form-control" id="name" aria-describedby="Name" placeholder="John Doe" required  onkeyup="enableSubmit()">
              </div>
              <div class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="johndoe@gmail.com" required  onkeyup="enableSubmit()">
              </div>
              <div class="mb-2">
                <label for="phone" class="form-label">Phone Number</label>
                <input id="phone" type="phone" class="form-control" id="phone" aria-describedby="emailHelp" placeholder="+234-890-873-2341" required onkeyup="enableSubmit()">
              </div>
              <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input id="pass" type="password" class="form-control" id="password" placeholder="**********" required onkeyup="enableSubmit()">
              </div>
              <button id="button" type="submit" class="btn btn-primary text-center my-4">Continue</button>
              <p class="text-center my-3">Already have an account? <a href="/login">Log in</a></p>
            </form>
          </div>
         </div>
  
        </div>
      </div>
    </main>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

  <script src="{ % static "\static\js\script.js" % }"></script>
  
</body>
</html>